.dt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  width: 90%;
  
  .card {
    margin: 30px;
    max-width: 400px;
    max-height: 600px;
    padding: 20px 30px;
    border: 1px solid #f0f0f0;
  }
  .dt-icon {
    padding: 10px;
    max-width: 250px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bugfix {
    padding:30px;
  }

  @media screen and (max-width: 440px) {

  }

}