.what-we-do {
  margin: auto;
  .card {
    margin: 20px auto;
    border: 1px solid #f0f0f0;
    transition: transform 0.2s;
    max-width: 300px;
    .card-img-top {
      img {
        padding: 40px;
        width: 100%;
        height: auto;

        @media screen and (max-width: 992px) {
          padding: 10px;
        }

        @media screen and (max-width: 768px) {
          padding: 20px;
        }

      }
    }
    .card-body {
      border-top: 1px solid #f0f0f0;
      h2 {
        font-size: 20px;
      }
    }

    &:hover {
      transform: translateY(-5px);
    }

    @media screen and (max-width: 992px){
      padding: 30px;   
    }
  }

  .display-4 {
    h1 {
      @media screen and (max-width: 992px){
        font-size: 24px;
      }
    }
  }

  .col-12 {
    @media screen and (max-width: 992px){
      padding: 10px 10px;   
    }
  }
}
